mixin newPost(action, postContent)
  form(class='newPost' method="post")
    input(type="text" name="title" placeholder="제목", value=`${postContent.title}`) 
    input(type="text" name="userName" placeholder="작성자명", value=`${postContent.userName}`) 
    input(type="text" name="userPwd" placeholder="비밀번호", value=``) 
    input(type="text" name="description" placeholder="내용" value=`${postContent.description}`) 
    input(type="text" name="id" value=`${postContent._id}`)
    if action === 'create_post'
      input#create_and_home(type="submit" value="생성" formaction=`/${action}`)
    else
      input#update_and_home(type="submit" value="수정" formaction=`/${action}`)
      input#delete_and_home(type="submit" value="삭제" formaction=`/delete_post`)
